* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}


.aboutContainer
{
  background: white;
  display: flex;
  flex-direction: column;
  height: 720px;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.aboutP
{
  margin-top: 50px;
  text-align: center;
  width: 700px;
}


.footerContainer, #name
{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  height:50px;
  z-index: 2;
}

#name
{
  font-size: 5px;
}

.icon
{
  margin: 20px;
}

a
{
  cursor: pointer;
}



/* Portfolio CSS */

.portfolioContainer
{
  text-align: center;
  margin: auto;
}

.portfolioP
{
  margin: 0px 450px 0px;
}

.portfolioH1
{
  margin-top: 150px;
}

.gridPhoto
{
  height: 100vw;
  object-fit: cover;
}

.gridPhoto:hover
{
  opacity: 0.1;
  transition-duration: .8s;
}

/*Media Queries*/

@media only screen and (max-width: 1350px)
{
      .portfolioP
      {
        text-align: center;
        margin: 0px 250px 0px;
      }

}


@media only screen and (max-width: 900px)
{
      .portfolioP
      {
        text-align: center;
        margin: 0px 150px 0px;
      }
}


@media only screen and (max-width: 500px)
{
      .portfolioP
      {
        text-align: center;
        margin: 0px 50px 0px;
      }
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');


