* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}


.aboutContainer
{
  background: white;
  display: flex;
  flex-direction: column;
  height: 720px;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.aboutP
{
  margin-top: 50px;
  text-align: center;
  width: 700px;
}


.footerContainer, #name
{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  height:50px;
  z-index: 2;
}

#name
{
  font-size: 5px;
}

.icon
{
  margin: 20px;
}

a
{
  cursor: pointer;
}



/* Portfolio CSS */

.portfolioH
{
  margin-top: 30px;
  margin-left: 50px;
}

.gridPhoto
{
  width: 100%;
  height:100%;
  object-fit: fill;
}

.gridPhoto:hover 
{
  opacity: 0.1;
}
.card-style
{
  box-shadow: 0 10px 8px 0 rgba(0,0,0,0.1);
}

/*Modal Css*/

.modalPhoto
{
  height:300px;
  width: 550px;
}
.modalBg {
	background: rgba(5, 8, 4, .85);
	bottom: 0;
  left: 0;
  right: 0;
	position: fixed;
	top: 0;
	z-index: 1;
}

.modalContainer {
  width: 500px;
  margin-top: 200px;
  margin-left: 180px;
  color: white;
  display: flex;
  flex-direction: row;
}

.modalTitle {
	font-size: 40px;
	margin-bottom: 30px;
}

.modalP
{
  padding: 40px;
  margin-left: 20px;
  width: 500px;
}

.closeSymbol
{
  font-size: 30px;
}

.closeSymbol:hover{
  opacity: 0.3;
}

/*Media Queries*/

@media only screen and (max-width: 1350px)
{
      .portfolioP
      {
        text-align: center;
        margin: 0px 250px 0px;
      }


}


@media only screen and (max-width: 900px)
{
      .portfolioP
      {
        text-align: center;
        margin: 0px 150px 0px;
      }

}


@media only screen and (max-width: 500px)
{
      .portfolioP
      {
        text-align: center;
        margin: 0px 50px 0px;
      }
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');


